Source: kms-siprtpendpoint
Maintainer: NaevaTec <info@naevatec.com>
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 kms-core-dev (>= 6.7.0),
 kms-elements-dev (>= 6.7.0),
 kms-filters-dev (>= 6.7.0),
Standards-Version: 4.0.0
Homepage: www.kurento.org
Vcs-Browser: https://
Vcs-Git: https://

Package: kms-siprtpendpoint
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
 kms-core (>= 6.11.0),
 kms-elements (>= 6.11.0),
 kms-filters (>= 6.11.0)
Description: Kurento SipRtpEndpoint

Package: kms-siprtpendpoint-dev
Architecture: any
Section: libdevel
Depends: kms-siprtpendpoint (= ${binary:Version}),
 kms-core-dev (>= 6.11.0),
 kms-elements-dev (>= 6.11.0),
 kms-filters-dev (>= 6.11.0),
Description: Kurento SipRtpEndpoint - Development files

Package: kms-siprtpendpoint-dbg
Architecture: any
Section: debug
Depends: kms-siprtpendpoint (= ${binary:Version})
Breaks: kms-siprtpendpoint-6.0-dbg
Replaces: kms-siprtpendpoint-6.0-dbg
Description: Kurento SipRtpEndpoint - Debug symbols
